*, :before, :after {
  box-sizing: border-box
}

body {
  -webkit-font-smoothing: antialiased
}

textarea:focus-visible {
  outline: none
}

button {
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none
}

* {
  margin: 0;
  padding: 0
}

a {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit
}

input {
  font: inherit;
  background-color: inherit;
  border: none;
  outline: none
}

button {
  font: inherit;
  background: 0 0;
  background-color: inherit;
  color: inherit;
  border-style: none;
  width: auto;
  line-height: normal;
  overflow: visible
}

textarea, select {
  font: inherit;
  background-color: inherit
}

img, picture, video, canvas, svg {
  display: block
}

[data-reaction-click] {
  cursor: pointer
}

[data-visible=false] {
  display: none !important
}

.before-hidden:before, .after-hidden:after {
  display: none
}

.before-visible:before, .after-visible:after {
  content: ""
}

::placeholder {
  color: inherit;
  opacity: .54
}

body * {
  scrollbar-width: none
}

body ::-webkit-scrollbar {
  display: none
}

[name=honey-pot-field] {
  display: none !important
}

.text {
  white-space: pre-wrap;
  overflow-wrap: break-word
}

.pointer-events-none {
  pointer-events: none
}

#_ {
  background-color: #fff;
  min-height: 100vh;
  display: grid
}

#Projects {
  background-color: #fff;
  border-radius: 0;
  width: 1920px;
  min-width: 1920px;
  max-width: 1920px;
  min-height: 1200px;
  max-height: 1200px;
  margin: 0 auto;
  position: relative;
  overflow: visible auto
}

#__x2d_body {
  --f2w-order: 0;
  border-radius: 0;
  width: 100%;
  height: 1050px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0
}

#main {
  --f2w-order: 0;
  border-radius: 0;
  width: 1567px;
  height: 768px;
  position: absolute;
  top: 282px;
  left: calc(50% - 784px)
}

#Container {
  --f2w-order: 0;
  border-radius: 0;
  width: 17%;
  height: 653px;
  position: absolute;
  top: 1px;
  left: 0;
  right: 83%
}

#Amirhossein {
  --f2w-order: 0;
  border: 1px solid #f2f3f3;
  border-radius: 87.5px;
  width: calc(100% - 14.7px);
  height: 250px;
  position: absolute;
  top: 23px;
  left: 0;
  right: 14.7px;
  overflow: hidden
}

#__0 {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}

#Heading_3_Amirhossein {
  text-align: left;
  color: #494e52;
  --f2w-order: 1;
  -webkit-background-clip: text;
  background-clip: text;
  justify-content: flex-start;
  align-items: center;
  width: 130.9px;
  height: 20px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 21.6px;
  display: inline-flex;
  position: absolute;
  top: 307px;
  left: 0
}

#__1 {
  color: #494e52;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 21.6px
}

#_3_8 {
  text-align: left;
  color: #494e52;
  --f2w-order: 2;
  -webkit-background-clip: text;
  background-clip: text;
  justify-content: flex-start;
  align-items: center;
  width: 164px;
  height: 78px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 20.3px;
  display: inline-flex;
  position: absolute;
  top: 344px;
  left: 0
}

#__2 {
  color: #494e52;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 20.3px
}

#List {
  --f2w-order: 3;
  border-radius: 4px;
  width: calc(.3px + 100%);
  height: 90px;
  position: absolute;
  top: 472px;
  left: 0;
  right: -.3px
}

#Item {
  --f2w-order: 0;
  border-radius: 0;
  width: calc(100% - .2px);
  height: 20.3px;
  position: absolute;
  top: 0;
  left: 0;
  right: .3px
}

#Symbol {
  --f2w-order: 0;
  width: 11px;
  height: 14px;
  position: absolute;
  top: 1.8px;
  left: 3.6px
}

#_3_12 {
  text-align: left;
  color: #494e52;
  --f2w-order: 1;
  -webkit-background-clip: text;
  background-clip: text;
  justify-content: flex-start;
  align-items: center;
  width: 125px;
  height: 15px;
  font-family: Roboto;
  font-size: 13.5px;
  font-weight: 400;
  line-height: 20.3px;
  display: inline-flex;
  position: absolute;
  top: 2px;
  left: 17px
}

#__3 {
  color: #494e52;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Roboto;
  font-size: 13.5px;
  font-weight: 400;
  line-height: 20.3px
}

#Item_Link {
  --f2w-order: 1;
  border-radius: 0;
  width: calc(100% - .2px);
  height: 24.3px;
  position: absolute;
  top: 27px;
  left: 0;
  right: .3px
}

#Symbol_0 {
  --f2w-order: 0;
  width: 14px;
  height: 11px;
  position: absolute;
  top: 5.6px;
  left: 1.6px
}

#_3_15 {
  text-align: left;
  color: #494e52;
  --f2w-order: 1;
  -webkit-background-clip: text;
  background-clip: text;
  justify-content: flex-start;
  align-items: center;
  width: 37.7px;
  height: 15px;
  font-family: Roboto;
  font-size: 13.5px;
  font-weight: 400;
  line-height: 20.3px;
  display: inline-flex;
  position: absolute;
  top: 4px;
  left: 17.3px
}

#__4 {
  color: #494e52;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Roboto;
  font-size: 13.5px;
  font-weight: 400;
  line-height: 20.3px
}

#Item_Link_0 {
  --f2w-order: 2;
  border-radius: 0;
  width: calc(100% - .2px);
  height: 24.3px;
  position: absolute;
  top: 59.7px;
  left: 0;
  right: .3px
}

#Symbol_1 {
  --f2w-order: 0;
  width: 13px;
  height: 13px;
  position: absolute;
  top: 4.4px;
  left: 2.4px
}

#_3_18 {
  text-align: left;
  color: #494e52;
  --f2w-order: 1;
  -webkit-background-clip: text;
  background-clip: text;
  justify-content: flex-start;
  align-items: center;
  width: 55px;
  height: 15px;
  font-family: Roboto;
  font-size: 13.5px;
  font-weight: 400;
  line-height: 20.3px;
  display: inline-flex;
  position: absolute;
  top: 4px;
  left: 17.3px
}

#__5 {
  color: #494e52;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Roboto;
  font-size: 13.5px;
  font-weight: 400;
  line-height: 20.3px
}

#Article {
  --f2w-order: 1;
  border-radius: 0;
  width: calc(100% - 415px);
  height: 880px;
  position: absolute;
  top: 24px;
  left: 491.7px;
  right: -76.7px
}

#Header_Heading_1_About_me {
  text-align: left;
  color: #494e52;
  --f2w-order: 0;
  -webkit-background-clip: text;
  background-clip: text;
  justify-content: flex-start;
  align-items: center;
  width: 129.9px;
  height: 31px;
  font-family: Roboto;
  font-size: 28.1px;
  font-weight: 700;
  line-height: 28.1px;
  display: inline-flex;
  position: absolute;
  top: 20px;
  left: 47px
}

#__6 {
  color: #494e52;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Roboto;
  font-size: 28.1px;
  font-weight: 700;
  line-height: 28.1px
}

#body {
  --f2w-order: 1;
  background-color: #fff;
  border-radius: 0;
  width: 1142px;
  height: 619px;
  position: absolute;
  top: 106px;
  left: 0;
  overflow: hidden
}

#Frame_1 {
  grid-row-gap: 18px;
  --f2w-order: 0;
  border-radius: 0;
  flex-flow: column;
  justify-content: flex-start;
  align-items: start;
  width: 661px;
  padding: 0;
  display: flex;
  position: absolute;
  top: 35px;
  left: 47px
}

#_3_35 {
  text-align: left;
  color: #000;
  --f2w-order: 0;
  -webkit-background-clip: text;
  background-clip: text;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 57px;
  margin: 0;
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  display: inline-flex;
  position: relative
}

#__7 {
  color: #000;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Inter;
  font-size: 24px;
  font-weight: 700
}

#_3_36 {
  text-align: left;
  color: #004f99;
  --f2w-order: 1;
  -webkit-background-clip: text;
  background-clip: text;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 42px;
  margin: 0;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline;
  display: inline-flex;
  position: relative
}

#__9 {
  color: #004f99;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline
}

#_3_37 {
  text-align: left;
  color: #000;
  --f2w-order: 2;
  -webkit-background-clip: text;
  background-clip: text;
  flex-shrink: 0;
  width: 465px;
  height: 183px;
  margin: 0;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  display: inline;
  position: relative
}

#__10 {
  color: #000;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400
}

#Frame_2 {
  grid-row-gap: 18px;
  --f2w-order: 1;
  border-radius: 0;
  flex-flow: column;
  justify-content: flex-start;
  align-items: start;
  width: 661px;
  height: 294px;
  padding: 0;
  display: flex;
  position: absolute;
  top: 35px;
  left: 691px
}

#_3_39 {
  text-align: left;
  color: #000;
  --f2w-order: 0;
  -webkit-background-clip: text;
  background-clip: text;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 57px;
  margin: 0;
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  display: inline-flex;
  position: relative
}

#__11 {
  color: #000;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Inter;
  font-size: 24px;
  font-weight: 700
}

#_3_40 {
  text-align: left;
  color: #004f99;
  --f2w-order: 1;
  -webkit-background-clip: text;
  background-clip: text;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 42px;
  margin: 0;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline;
  display: inline-flex;
  position: relative
}

#__13 {
  color: #004f99;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline
}

#_3_41 {
  text-align: left;
  color: #000;
  --f2w-order: 2;
  -webkit-background-clip: text;
  background-clip: text;
  flex-shrink: 0;
  width: 466px;
  height: 183px;
  margin: 0;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  display: inline;
  position: relative
}

#__14 {
  color: #000;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400
}

#Frame_3 {
  grid-row-gap: 18px;
  --f2w-order: 2;
  border-radius: 0;
  flex-flow: column;
  justify-content: flex-start;
  align-items: start;
  width: 661px;
  padding: 0;
  display: flex;
  position: absolute;
  top: 352px;
  left: 47px
}

#_3_43 {
  text-align: left;
  color: #000;
  --f2w-order: 0;
  -webkit-background-clip: text;
  background-clip: text;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 57px;
  margin: 0;
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  display: inline-flex;
  position: relative
}

#__16 {
  color: #000;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Inter;
  font-size: 24px;
  font-weight: 700
}

#_3_44 {
  text-align: left;
  color: #004f99;
  --f2w-order: 1;
  -webkit-background-clip: text;
  background-clip: text;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 42px;
  margin: 0;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline;
  display: inline-flex;
  position: relative
}

#__18 {
  color: #004f99;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline
}

#_3_45 {
  text-align: left;
  color: #000;
  --f2w-order: 2;
  -webkit-background-clip: text;
  background-clip: text;
  flex-shrink: 0;
  width: 505px;
  height: 183px;
  margin: 0;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  display: inline;
  position: relative
}

#__19 {
  color: #000;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400
}

#Frame_4 {
  grid-row-gap: 18px;
  --f2w-order: 3;
  border-radius: 0;
  flex-flow: column;
  justify-content: flex-start;
  align-items: start;
  width: 661px;
  height: 318px;
  padding: 0;
  display: flex;
  position: absolute;
  top: 353px;
  left: 691px
}

#_3_47 {
  text-align: left;
  color: #000;
  --f2w-order: 0;
  -webkit-background-clip: text;
  background-clip: text;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 57px;
  margin: 0;
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  display: inline-flex;
  position: relative
}

#__20 {
  color: #000;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Inter;
  font-size: 24px;
  font-weight: 700
}

#_3_48 {
  text-align: left;
  color: #004f99;
  --f2w-order: 1;
  -webkit-background-clip: text;
  background-clip: text;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: center;
  width: 544px;
  height: 42px;
  margin: 0;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline;
  display: inline-flex;
  position: relative
}

#__22 {
  color: #004f99;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline
}

#_3_49 {
  text-align: left;
  color: #000;
  --f2w-order: 2;
  -webkit-background-clip: text;
  background-clip: text;
  flex-shrink: 0;
  width: 492px;
  height: 183px;
  margin: 0;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  display: inline;
  position: relative
}

#__23 {
  color: #000;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400
}

#HorizontalBorder {
  --f2w-order: 1;
  border: 0 solid #f2f3f3;
  border-bottom-width: 1px;
  border-radius: 0;
  width: 100%;
  height: 82px;
  position: absolute;
  top: 109px;
  left: 0;
  right: 0
}

#site-nav {
  --f2w-order: 0;
  background-color: #fff;
  border-radius: 0;
  width: calc(100% - 676px);
  height: 45px;
  position: absolute;
  top: 18px;
  left: 338px;
  right: 338px
}

#List_0 {
  --f2w-order: 0;
  border-radius: 0;
  width: 344.1px;
  height: 45px;
  position: absolute;
  top: 0;
  left: 0
}

#Item_Link_1 {
  --f2w-order: 0;
  border-radius: 0;
  width: calc(100% - 153.1px);
  height: 45px;
  position: absolute;
  top: 0;
  left: 0;
  right: 153.1px
}

#_3_27 {
  text-align: left;
  color: #7a8288;
  --f2w-order: 0;
  -webkit-background-clip: text;
  background-clip: text;
  justify-content: flex-start;
  align-items: center;
  width: 218px;
  height: 22px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  display: inline-flex;
  position: absolute;
  top: 12px;
  left: 0
}

#__24 {
  color: #7a8288;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px
}

#Item_Link_2 {
  --f2w-order: 1;
  border-radius: 0;
  width: calc(100% - 247px);
  height: 45px;
  position: absolute;
  top: 0;
  left: 186px;
  right: 61px;
  margin-left: 15%;
}

#_3_29 {
  text-align: left;
  color: #7a8288;
  --f2w-order: 2;
  -webkit-background-clip: text;
  background-clip: text;
  justify-content: flex-start;
  align-items: center;
  width: 97.3px;
  height: 20px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 800;
  line-height: 27px;
  display: inline-flex;
  position: absolute;
  top: 12px;
  left: 247px
}

#__25 {
  color: #7a8288;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 800;
  line-height: 27px
}

#Item_Link_3 {
  --f2w-order: 1;
  border-radius: 0;
  width: calc(100% - 1219px);
  height: 45px;
  position: absolute;
  top: 0;
  left: 393px;
  right: 826px
}

#_3_31 {
  text-align: left;
  color: #7a8288;
  --f2w-order: 0;
  -webkit-background-clip: text;
  background-clip: text;
  justify-content: flex-start;
  align-items: center;
  width: 146px;
  height: 20px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  display: inline-flex;
  position: absolute;
  top: 12px;
  left: 0
}

#__26 {
  color: #7a8288;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px
}

#Background_HorizontalBorder {
  --f2w-order: 2;
  background-color: #ade9ff69;
  border: 0 solid #bdc1c4;
  border-top-width: 1px;
  border-radius: 0;
  width: 1920px;
  height: 151px;
  position: absolute;
  bottom: -151px;
  left: 0
}

article.prose {
  line-height: 1.75;
  display: contents
}

article.prose a {
  font-weight: 500;
  text-decoration: underline
}

article.prose h1 {
  margin-block: 0 1.23em;
  font-size: 2.25em;
  line-height: 1.11
}

article.prose h2 {
  margin-block: 2em 1em;
  font-size: 1.5em;
  line-height: 1.34
}

article.prose h3 {
  margin-block: 1.6em .6em;
  font-size: 1.25em;
  line-height: 1.6
}

article.prose h4 {
  margin-top: 1.5em;
  margin-bottom: .5em;
  line-height: 1.5
}

article.prose img {
  width: 100%;
  margin-block: 2em
}

article.prose blockquote {
  margin-block: 1.6em;
  padding: .75em 1.25em
}

article.prose ul, article.prose ol {
  padding-inline-start: 1.5em
}

article.prose table {
  table-layout: auto;
  width: 100%;
  margin: 1.5em 0
}

article.prose thead th {
  vertical-align: bottom;
  font-weight: 600
}

article.prose tbody td {
  vertical-align: baseline
}

article.prose tfoot td {
  vertical-align: top
}

article.prose th, article.prose td {
  text-align: start;
  padding: .75em
}

article.prose thead th:first-child, article.prose tbody td:first-child, article.prose tfoot td:first-child {
  padding-inline-start: 0
}

article.prose thead th:last-child, article.prose tbody td:last-child, article.prose tfoot td:last-child {
  padding-inline-end: 0
}

article.prose thead {
  box-shadow: 0 1px #ffffffbf, 0 1px
}

article.prose tbody tr {
  box-shadow: 0 1px #ffffffd9, 0 1px
}

article.prose hr {
  opacity: .3;
  margin: 3em 0
}

@media only screen and (max-width: 768px) {
  #made-with-f2w-logo {
    width: 32px;
    height: 32px
  }
}
