*, :before, :after {
  box-sizing: border-box
}

body {
  -webkit-font-smoothing: antialiased
}

textarea:focus-visible {
  outline: none
}

button {
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none
}

* {
  margin: 0;
  padding: 0
}

a {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit
}

input {
  font: inherit;
  background-color: inherit;
  border: none;
  outline: none
}

button {
  font: inherit;
  background: 0 0;
  background-color: inherit;
  color: inherit;
  border-style: none;
  width: auto;
  line-height: normal;
  overflow: visible
}

textarea, select {
  font: inherit;
  background-color: inherit
}

img, picture, video, canvas, svg {
  display: block
}

[data-reaction-click] {
  cursor: pointer
}

[data-visible=false] {
  display: none !important
}

.before-hidden:before, .after-hidden:after {
  display: none
}

.before-visible:before, .after-visible:after {
  content: ""
}

::placeholder {
  color: inherit;
  opacity: .54
}

body * {
  scrollbar-width: none
}

body ::-webkit-scrollbar {
  display: none
}

[name=honey-pot-field] {
  display: none !important
}

.text {
  white-space: pre-wrap;
  overflow-wrap: break-word
}

.pointer-events-none {
  pointer-events: none
}

#_ {
  background-color: #fff;
  min-height: 100vh;
  display: grid
}

#Home_Page {
  background-color: #fff;
  border-radius: 0;
  width: 100%;
  min-width: 1920px;
  max-width: 1920px;
  min-height: 1200px;
  max-height: 1200px;
  margin: 0 auto;
  position: relative;
  overflow: visible auto
}


#__x2d_body {
  --f2w-order: 0;
  border-radius: 0;
  width: 100%;
  height: 1046px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0
}

#main {
  --f2w-order: 0;
  border-radius: 0;
  width: 1567px;
  height: 768px;
  position: absolute;
  top: 278px;
  left: calc(50% - 728px)
}

#Container {
  --f2w-order: 0;
  border-radius: 0;
  width: 17%;
  height: 653px;
  position: absolute;
  top: 1px;
  left: 0;
  right: 83%
}

#Amirhossein_Mirahmadi {
  --f2w-order: 0;
  border: 1px solid #f2f3f3;
  border-radius: 88px;
  width: calc(100% - 15px);
  height: 250px;
  position: absolute;
  top: 23px;
  left: 0;
  right: 15px;
  overflow: hidden
}

#__0 {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}

#Heading_3_Amirhossein_Mirahmadi {
  text-align: left;
  color: #494e52;
  --f2w-order: 1;
  -webkit-background-clip: text;
  background-clip: text;
  justify-content: flex-start;
  align-items: center;
  width: 131px;
  height: 20px;
  font-family: Roboto, serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  display: inline-flex;
  position: absolute;
  top: 307px;
  left: 0
}

#__1 {
  color: #494e52;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Roboto, serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px
}

#_2_82 {
  text-align: left;
  color: #494e52;
  --f2w-order: 2;
  -webkit-background-clip: text;
  background-clip: text;
  justify-content: flex-start;
  align-items: center;
  width: 164px;
  height: 78px;
  font-family: Roboto, serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  display: inline-flex;
  position: absolute;
  top: 344px;
  left: 0
}

#__2 {
  color: #494e52;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Roboto, serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px
}

#List {
  --f2w-order: 3;
  border-radius: 4px;
  width: calc(0px + 100%);
  height: 90px;
  position: absolute;
  top: 472px;
  left: 0;
  right: -.3px
}

#Item {
  --f2w-order: 0;
  border-radius: 0;
  width: calc(100% - .2px);
  height: 20.3px;
  position: absolute;
  top: 0;
  left: 0;
  right: .3px
}

#Symbol {
  --f2w-order: 0;
  width: 11px;
  height: 14px;
  position: absolute;
  top: 1.8px;
  left: 3.6px
}

#_2_86 {
  text-align: left;
  color: #494e52;
  --f2w-order: 1;
  -webkit-background-clip: text;
  background-clip: text;
  justify-content: flex-start;
  align-items: center;
  width: 125px;
  height: 15px;
  font-family: Roboto, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: underline;
  display: inline-flex;
  position: absolute;
  top: 2px;
  left: 17px
}

#__4 {
  color: #494e52;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Roboto, serif;
  font-size: 13.5px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: underline
}

#Item_Link {
  --f2w-order: 1;
  border-radius: 0;
  width: calc(100% - .2px);
  height: 24.3px;
  position: absolute;
  top: 27px;
  left: 0;
  right: .3px
}

#Symbol_0 {
  --f2w-order: 0;
  width: 14px;
  height: 11px;
  position: absolute;
  top: 5.6px;
  left: 1.6px
}

#_2_89 {
  text-align: left;
  color: #494e52;
  --f2w-order: 1;
  -webkit-background-clip: text;
  background-clip: text;
  justify-content: flex-start;
  align-items: center;
  width: 37.7px;
  height: 15px;
  font-family: Roboto, serif;
  font-size: 13.5px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: underline;
  display: inline-flex;
  position: absolute;
  top: 4px;
  left: 17px
}

#__5 {
  color: #494e52;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Roboto, serif;
  font-size: 13.5px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: underline
}

#Item_Link_0 {
  --f2w-order: 2;
  border-radius: 0;
  width: calc(100% - .2px);
  height: 24.3px;
  position: absolute;
  top: 59.7px;
  left: 0;
  right: .3px
}

#Symbol_1 {
  --f2w-order: 0;
  width: 13px;
  height: 13px;
  position: absolute;
  top: 4.4px;
  left: 2.4px
}

#_2_95 {
  text-align: left;
  color: #494e52;
  --f2w-order: 1;
  -webkit-background-clip: text;
  background-clip: text;
  justify-content: flex-start;
  align-items: center;
  width: 55px;
  height: 15px;
  font-family: Roboto, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  display: inline-flex;
  position: absolute;
  top: 4px;
  left: 17px
}

#__7 {
  color: #494e52;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Roboto, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px
}

#__8 {
  color: #494e52;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Roboto, serif;
  font-size: 13.5px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: underline
}

#Article {
  --f2w-order: 1;
  border-radius: 0;
  width: calc(100% - 406px);
  height: 653px;
  position: absolute;
  top: 24px;
  left: 492px;
  right: -86px
}

#Header_Heading_1_About_me {
  text-align: left;
  color: #494e52;
  --f2w-order: 0;
  -webkit-background-clip: text;
  background-clip: text;
  justify-content: flex-start;
  align-items: center;
  width: 130px;
  height: 31px;
  font-family: Roboto, serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
  display: inline-flex;
  position: absolute;
  top: 12px;
  left: 0
}

#__9 {
  color: #494e52;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Roboto, serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 28px
}

#_2_126 {
  text-align: left;
  color: #4f4f4f;
  --f2w-order: 1;
  -webkit-background-clip: text;
  background-clip: text;
  width: 817px;
  height: 561px;
  font-family: Inter, serif;
  font-size: 18px;
  font-weight: 400;
  display: inline;
  position: absolute;
  top: 89px;
  left: 0
}

#__10 {
  color: #4f4f4f;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Inter, serif;
  font-size: 18px;
  font-weight: 400
}

#Background_HorizontalBorder {
  --f2w-order: 1;
  background-color: #ade9ff69;
  border: 0 solid #bdc1c4;
  border-top-width: 1px;
  border-radius: 0;
  width: 1920px;
  height: 155px;
  position: absolute;
  bottom: -155px;
  left: 0
}

#HorizontalBorder {
  --f2w-order: 2;
  border: 0 solid #f2f3f3;
  border-bottom-width: 1px;
  border-radius: 0;
  width: 100%;
  height: 82px;
  position: absolute;
  top: 109px;
  left: 0;
  right: 0
}

#site-nav {
  --f2w-order: 0;
  background-color: #fff;
  border-radius: 0;
  width: calc(100% - 676px);
  height: 45px;
  position: absolute;
  top: 18px;
  left: 338px;
  right: 338px
}

#List_0 {
  --f2w-order: 0;
  border-radius: 0;
  width: 344.1px;
  height: 45px;
  position: absolute;
  top: 0;
  left: 0
}

#Item_Link_1 {
  --f2w-order: 0;
  border-radius: 0;
  width: 55%;
  height: 45px;
  position: absolute;
  top: 0;
  left: 0;
  right: 230.1px
}

#_2_119 {
  text-align: left;
  color: #7a8288;
  --f2w-order: 0;
  -webkit-background-clip: text;
  background-clip: text;
  justify-content: flex-start;
  align-items: center;
  width: 218px;
  height: 22px;
  font-family: Roboto, serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  display: inline-flex;
  position: absolute;
  top: 12px;
  left: 0
}

#__15 {
  color: #7a8288;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Roboto, serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px
}

#Item_Link_2 {
  --f2w-order: 1;
  border-radius: 0;
  width: calc(100% - 247px);
  height: 45px;
  position: absolute;
  top: 0;
  left: 186px;
  right: 61px
}

#_2_121 {
  text-align: left;
  color: #7a8288;
  --f2w-order: 2;
  -webkit-background-clip: text;
  background-clip: text;
  justify-content: flex-start;
  align-items: center;
  width: 97px;
  height: 20px;
  font-family: Roboto, serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  display: inline-flex;
  position: absolute;
  top: 12px;
  left: 247px
}

#__16 {
  color: #7a8288;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Roboto, serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px
}

#Item_Link_3 {
  --f2w-order: 1;
  border-radius: 0;
  width: 8%;
  height: 45px;
  position: absolute;
  top: 0;
  left: 393px;
  right: 826px
}

#_2_123 {
  text-align: left;
  color: #7a8288;
  --f2w-order: 0;
  -webkit-background-clip: text;
  background-clip: text;
  justify-content: flex-start;
  align-items: center;
  width: 146px;
  height: 20px;
  font-family: Roboto, serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  display: inline-flex;
  position: absolute;
  top: 12px;
  left: 0
}

#__17 {
  color: #7a8288;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Roboto, serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px
}

article.prose {
  line-height: 1.75;
  display: contents
}

article.prose a {
  font-weight: 500;
  text-decoration: underline
}

article.prose h1 {
  margin-block: 0 1.23em;
  font-size: 2.25em;
  line-height: 1.11
}

article.prose h2 {
  margin-block: 2em 1em;
  font-size: 1.5em;
  line-height: 1.34
}

article.prose h3 {
  margin-block: 1.6em .6em;
  font-size: 1.25em;
  line-height: 1.6
}

article.prose h4 {
  margin-top: 1.5em;
  margin-bottom: .5em;
  line-height: 1.5
}

article.prose img {
  width: 100%;
  margin-block: 2em
}

article.prose blockquote {
  margin-block: 1.6em;
  padding: .75em 1.25em
}

article.prose ul, article.prose ol {
  padding-inline-start: 1.5em
}

article.prose table {
  table-layout: auto;
  width: 100%;
  margin: 1.5em 0
}

article.prose thead th {
  vertical-align: bottom;
  font-weight: 600
}

article.prose tbody td {
  vertical-align: baseline
}

article.prose tfoot td {
  vertical-align: top
}

article.prose th, article.prose td {
  text-align: start;
  padding: .75em
}

article.prose thead th:first-child, article.prose tbody td:first-child, article.prose tfoot td:first-child {
  padding-inline-start: 0
}

article.prose thead th:last-child, article.prose tbody td:last-child, article.prose tfoot td:last-child {
  padding-inline-end: 0
}

article.prose thead {
  box-shadow: 0 1px #ffffffbf, 0 1px
}

article.prose tbody tr {
  box-shadow: 0 1px #ffffffd9, 0 1px
}

article.prose hr {
  opacity: .3;
  margin: 3em 0
}

@media only screen and (max-width: 768px) {
  #made-with-f2w-logo {
    width: 32px;
    height: 32px
  }
}
